<div class="container">
    <h1 class="intro">My quotes</h1>
    <hr>
  <div class="row">
    <div class="col-md-12 quote">
    <div class="quoteslayout">
      <div class="quoteText" *ngFor='let quote of quotes;let i = index'>" {{quote.quot}} "<br> By {{quote.author}}
        <button (click)='toggleDetails(i)' class="btn btn-secondary">Details/Vote</button>
        <app-quote-detail *ngIf='quote.showAuthor'[quote] = 'quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
      </div>
    </div>
    </div>
    <div class="col-md-6 form">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
  </div>
 
