#like{
    background-color: rgb(133, 235, 133);

}
#dislike{
    background-color: coral;
    
}
#delete{
    background-color: crimson;
    float: right;
}
@media screen and (max-width:700px) {
    #delete{
        margin-top: 1rem;
       

    }
}