<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<p>Created  by {{quote.name}} {{quote.completeDate|dateCount}} Days ago</p>

<br>
<div>
    <button id='like'(click)= 'likeButtonClick()'><i class="fa fa-thumbs-up"></i>Like</button>
        <span>{{numberOfLike}}</span>
    <button id='dislike' (click)='dislikeButtonClick()'><i class="fa fa-thumbs-down"></i>Dislike</button>
        <span>{{numberOfDislike}}</span>
</div>
<button id='delete'(click)= 'quoteComplete(true)'>Delete</button>
